@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');
*{
    padding: 0;
    margin: 0;
}
.Tobar{
    position: absolute;
    left: 0;
    top: 61px;
    width: 100%;
    z-index: 30;
}

.container{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.logo_bar{
    display: flex;
    float: left;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    position:absolute;
    width: 100%;
    
}

.img{
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 12%;
}
.title-wrapper{
 
    justify-content: center;
    align-items: center;
    
  
}

.logo-title{
    
    font-family: 'Engagement','inherit';
    font-size: 40px;
     font-weight:  bold;
     line-height: 1.7em;
     color: black;
}
.slogan{
    font-family: 'Engagement', cursive;
    font-size: 30px;
    padding-top: 0%;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    border-left: 200px;
    padding-top: 10px;

}
@media screen and (max-width: 700px){
    .logo_bar{
        justify-content: center ;
    width: 100% !important;
    }
    .img{
        width: 20%;

    }
    .title-wrapper{
        display: block;
        margin: 70spx;
    }
}